:root {
  --color-brand--1: #c62222;
  --color-brand--2: #00c46a;

  --color-dark--1: #333232;
  --color-dark--2: #404040;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 0;

  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

section {
  text-align: center;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 55rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

h1 {
  flex: 1;
  height: 5.2rem;
  align-self: center;
  color: white;
  margin-bottom: 3rem;
  font-size: 27.1px;
  text-shadow: 2px 3px grey;
  z-index: 2;
}

.highlight {
  position: relative;
  
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.03, 1.05) skewX(-15deg);
  background-image: linear-gradient(to top left, #5ec29c, #b9dd9a);
}

.location{
  color: white;
  font-size: 18px;
  margin-bottom: 2rem;
  font-family: 'Oswald';
}

.date{
  color: white;
  font-size: 18px;
  padding-bottom: 8rem;
  font-family: 'Oswald';
}

.temp {
  color: rgb(255, 255, 255);
  font-size: 55px;
  font-weight: 900;
  text-shadow: 2px 3px grey;
}

.current .temp span {
  font-weight: 500;
}



.current .hi-low {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden; 
  overflow: hidden;
}

li.workout--container {
  display: grid;
  grid-template: 1fr / 1fr;
  overflow: hidden;
}

.edit--workout {
  transition: all 500ms !important;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 100%;
  transform: translateX(-100%);
  z-index: 5;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
  transition: all 500ms;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 100%;
  transform: translateX(0%);
  z-index: 4;
}
.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}
.workout__title--container {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
}

.workout__controls button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: none;
  margin-left: 0.5rem;
  background-color: #52595e;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  transition: all 100ms;
}
.workout__controls button:hover {
  background: rgb(99, 106, 110);
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.hidden {
  display: none;
}
.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}
